/*=====Fonts imported from google fonts=====*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lora:wght@400;500&display=swap');

*{
  margin:0;
  padding:0;
  border:0;
}


body{
    font-family: "Fjalla one", sans-serif;
}

/*===============Header-Consistent-on-every-page*/

.header-wrapper{
    padding-right: 0;
    padding-left:  0;
}

.header{
    background-color: #f0f0f0;
    text-align: center;
    border-top: 3px solid black;
}

.header h1{
    font-size: 150px;
    padding-top: 25px;
    text-transform: uppercase;
    color: black;
    font-family: lora, sans-serif;
}
/*=====NavBar====*/

.navbar-nav{
    text-align: center;
    margin: 0 auto;
}

button{
    margin: 0 auto;
}

#bg-color{
    background-color: #f0f0f0;
    border-bottom: 3px solid black;
}

.nav-item{
    font-size: 35px;
}

.navbar-light .navbar-toggler {
    border-color: #333333;
}

/*==============Footer-Consistent-on-every-page*/

.footer-wrapper{
    background-color: #ba1626;
    height: 150px;
    border-top: 3px solid #d3ab78;
}

/*====social-links===*/

.social-networks{
    text-align: center;
    margin: auto;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 2.5rem;
  padding: 3px;
  margin: 10px;
  color: black;
}

.social-networks i:hover{
    color: #d3ab78;
}

/*===============Main-body-home-page*/
.main{
    background-color: black;
    color: #ba1626;
    padding-bottom: 30px;
}

.video-title h1{
    text-align: center;
    padding-top: 40px;
    font-size: 60px;
    text-transform: capitalize;
}

.video-title h2{
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    text-transform: capitalize
}

.follow{
    padding: 0;
}

.new-album{
    background-image: linear-gradient(black, #ba1626);
    padding-bottom: 30px;
}

.new-album h2{
    color: #ba1626;
    font-size: 70px;
    padding-top: 40px;
}

.new-album h3 a{
    color: #ba1626;
    text-decoration: none;
}

.new-album h3 a:hover{
    color: #d3ab78;
}

/*=================Band-page==*/

.band-img-wrapper{
    width: 100%;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 20px;
}

.band-pic{
  height: 400px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.band-pic img{
    width: 100%;
    height: 100%;
}

.bg-band-members{
    background-color: #ba1626;
    border-bottom: 3px solid black;
}

.bg-band-members h1{
    padding-top: 40px;
    font-size: 60px;
    color: #f0f0f0;
}

.bg-band-members h2{
    font-size: 40px;
    padding-top: 10px;
}

hr{
    border-bottom: 2px solid black;
    width: 120px;
    margin: 0 auto;
}

.history-header{
    text-transform: capitalize;
    background-color: #f0f0f0;
    padding-top: 30px;
}

.history-header h2{
    font-size: 40px;
}

.history-main{
    background-color: #f0f0f0;
    padding: 20px 30px 20px 20px;
}

.history-main p{
    font-family: lora, sans-serif;
}

.history-main h3{
    padding-top: 20px;
}

/*================Music-page*/

.music-title{
    background-color: black;
}

.album-wrapper{
    background-image: linear-gradient(#f30218, #630d15);
    border-top: 2px solid black;
}

.album-wrapper h1{
    padding-top: 40px;
    font-size: 60px;
    text-transform: capitalize;
}

.album{
    height: 300px;
}

 img, iframe{
    max-height: 100%;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.album-title, .album-year{
    color: #fafafa;
    text-transform: uppercase;
}

.album-title{
    padding-top: 75px;
    font-size: 35px;
}

.music-wrapper{
    background-color: black;
}

.music-card{
    padding: 15px;
}

/*===============Tour-page*/

.tour-header h1{
    font-size: 60px;
    color: #ba1626;
    padding-top: 40px;
}

.tour-card-wrapper{
    background: url("../images/alk-live1.jpg") center center;
}

.ticket-card{
  border: 3px solid #ba1626;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  height: 300px;
  max-width: 375px;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 2px;
}

.ticket-card h2{
    font-size: 45px;
    padding-top: 20px;
}

.btn-sold-out{
    background-color: #333;
    color: white;
    border: 1px solid #d3ab78;
}

.btn-book-now{
    background-color: #ba1626;
    color: #d3ab78;
    border: 1px solid black;
}

.btn-book-now:hover{
    background-color: #d3ab78;
    color: #ba1626;
    border: 1px solid black;
}

/*====================Contact-page*/

.bg-contact-main{
    padding-bottom: 40px;
    background-image: linear-gradient(#ba1626, black);
}

.bg-contact-main h1{
    font-size: 60px;
    padding-top: 40px;
}

.form-control{
    background-color: #f0f0f0;
}

.bg-contact-main .btn-submit{
    background-color: #d3ab78;
    color: #ba1626;
    border: none;
}

.bg-contact-main .btn-submit:hover{
    background-color: black;
    color: #d3ab78;
}

/*====================Modal*/

.btn-wrapper{
    text-align: center;
}

.footer-wrapper .btn{
    background-color:black;
    color: #d3ab78;
    border: none;
    margin-top: 20px;
}

.footer-wrapper .btn:hover{
    background-color:#d3ab78;
    color: black;
}

.modal-body .btn-submit{
    background-color: #d3ab78;
    color: #ba1626;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: none;
}

.modal-body .btn-submit:hover{
    background-color: black;
    color: #d3ab78;
}

.modal-content{
    background-color: #ba1626;
    color: #d3ab78;
}

/*========================Media-Querys*/

@media screen and (max-width: 575px) {
  .header h1 {
    font-size: 65px;
    padding-top: 25px;
  }

  .album-title{
      padding-top: 35px;
  }
}

@media screen and (min-width: 576px) {
  .header h1 {
    font-size: 70px;
    line-height: 100px;
  }
}

@media screen and (min-width: 768px) {
  .header h1 {
    font-size: 90px;
    line-height: 100px;
  }
}

@media screen and (min-width: 990px) {
    .header h1 {
    font-size: 110px;
  }
}

@media screen and (min-width: 1200px) {
  
  .header h1 {
    font-size: 150px;
  }
}  