/*=====Fonts imported from google fonts=====*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Fraunces:wght@400;500&family=Imbue:wght@500&display=swap');

*{
  margin:0;
  padding:0;
  border:0;
}

html, body{
    width: auto!important; overflow-x: hidden!important
}
body{
    font-family: "crimson text";
}

/*=================Header===============*/

.header-wrapper{
    background-color: #d3ab78;
    height: 150px;
    width: 100%;
    text-align: center;
    border-top: 3px solid black;
}

.header-wrapper h1{
    font-size: 150px;
    padding-top: 25px;
    text-transform: uppercase;
    color: black;
    font-family: "imbue";
}
/*=====NavBar====*/

.navbar-nav{
    text-align: center;
    margin: 0 auto;
}

button{
    margin: 0 auto;
}

#bg-color{
    background-color: #d3ab78;
    border-bottom: 3px solid black;
}

.nav-item{
    font-size: 25px;
}

.navbar-light .navbar-toggler {
    border-color: #333333;
}

/*===============main-body-home page============*/
.main{
    background-color: black;
}

.video-title h1{
    color: #ba1626;
    text-align: center;
    font-family: imbue;
    padding-top: 20px;
    font-size: 80px;
}

/*===============Tour-page*/

.tour-header h1{
    font-size: 80px;
    color: #ba1626;
}

.tour-card-wrapper{
    background: url("../images/alk-live1.jpg") center center;
}

.ticket-card{
  color: black;
  border: 3px solid #ba1626;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  height: 300px;
  max-width: 400px;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 2px;
  overflow: auto;
}

.btn-sold-out{
    background-color: #333;
    color: white;
    border: 1px solid #d3ab78;
}

.btn-book-now{
    background-color: #ba1626;
    color: #d3ab78;
    border: 1px solid black;
}

.btn-book-now:hover{
    background-color: #d3ab78;
    color: #ba1626;
    border: 1px solid black;
}

/*===================Footer==========*/

.footer-wrapper{
    background-color: #ba1626;
    height: 150px;
    border-top: 3px solid #d3ab78;
}

/*====social-links===*/

.social-networks{
    text-align: center;
    margin: auto;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 2.5rem;
  padding: 3px;
  margin: 10px;
  color: black;
}

.social-networks i:hover{
    color: #d3ab78;
}


/*================music-page*/

.music-title{
    background-color: black;
}

.album-wrapper{
    background-image: linear-gradient(#6b000b, #999);
    border-top: 2px solid black;
}

.album{
    height: 300px;
}
img, iframe{
    max-height: 100%;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.album-title, .album-year{
    color: #fafafa;
    text-transform: uppercase;
}

.album-title{
    padding-top: 50px;
    font-size: 4vw;
}

.music-wrapper{
    background-color: black;
}

.music-card{
    padding: 15px;
}

/*=================Band-page==*/

.band-img-wrapper{
    width: 100%;
}

.band-pic{
  height: 400px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  
}

.band-pic img{
    width: 100%;
    height: 100%;
}

.bg-band-main{
    background-color: #ba1626;
}

/*=====modal-colors and button position===*/

.btn-wrapper{
    text-align: center;
}

.footer-wrapper .btn{
    background-color:black;
    color: #d3ab78;
    border: none;
    margin-top: 20px;
}

.footer-wrapper .btn:hover{
    background-color:#d3ab78;
    color: black;
}

.modal-body .btn-submit{
    background-color: #d3ab78;
    color: #ba1626;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: none;
}

.modal-body .btn-submit:hover{
    background-color: black;
    color: #d3ab78;
}

.modal-content{
    background-color: #ba1626;
    color: #d3ab78;
}

/*========================Media-Querys===============================*/

@media screen and (max-width: 575px) {
  .header-wrapper{
      height: 150px;
  } 
  .header-wrapper h1 {
    font-size: 70px;
    padding-top: 25px;
  }

  .footer-wrapper{
      height: 120px
  }
  
  .main{
      height: 600px;
  }
  
}

@media screen and (min-width: 576px) {
  .header-wrapper{
      height: 120px;
  } 
  .header-wrapper h1 {
    font-size: 70px;
    line-height: 100px;
  }

  .main{
      height: 700px;
  }
}

@media screen and (min-width: 768px) {
  .header-wrapper{
      height: 150px;
  }

  .header-wrapper h1 {
    font-size: 90px;
    line-height: 100px;
  }

  .main{
      height: 700px;
  }
}

@media screen and (min-width: 990px) {
  .header-wrapper{
      height: 150px;
  }

  .header-wrapper h1 {
    font-size: 110px;
  }

  .main{
      height: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .header-wrapper{
    height: 150px;
  }
  .header-wrapper h1 {
    font-size: 150px;
  }
}  