/*=====Fonts imported from google fonts=====*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600&display=swap');


*{
  margin:0;
  padding:0;
  border:0;
}

html, body {width: auto!important; overflow-x: hidden!important} 

body{
    font-family: fraunces;
}

/*=========================Header*/

.header-wrapper{
    background-color: #d3ab78;
    height: 150px;
    width: 100%;
    text-align: center;
}

.header-wrapper h1{
    font-size: 150px;
    padding-top: 25px;
    text-transform: uppercase;
    color: black;
}
/*===========================NavBar*/

.navbar-nav{
    text-align: center;
    margin: 0 auto;
}

button{
    margin: 0 auto;
}

#bg-color{
    background-color: #d3ab78;
    border-bottom: 3px solid #ba1626;
}

.nav-item{
    font-size: 25px;
}

.navbar-light .navbar-toggler {
    border-color: #333333;
}


.main{
    height:900px;
    background-color: black;
    position: relative;
}

.video-title h1{
    color: #ba1626;
    text-align: center;
    font-family: fraunces;
    padding-top: 20px;
    font-size: 80px;
}

iframe{
    border-radius: 10px;
}

/*=====Code taken from w3schools and adapted to my own requirements to make video responsive to different screen sizes===*/

.video-frame{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 80%;
  
  margin: 0 auto;
}

/*===================Footer==========*/

.footer-wrapper{
    background-color: #ba1626;
    height: 150px;
    border-top: 3px solid #d3ab78;
    
    
}


/*===================social-links*/

.social-networks{
    text-align: center;
    margin: auto;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 180%;
  padding: 10px;
  margin: 10px;
  color: black;
}

.social-networks i:hover{
    color: #d3ab78;
}


/*=====================modal-colors and button position================*/

.btn-wrapper{
    text-align: center;
}

.footer-wrapper .btn{
    background-color:black;
    color: #d3ab78;
    border: none;
    margin-top: 20px;
}

.footer-wrapper .btn:hover{
    background-color:#d3ab78;
    color: black;
}

.modal-body .btn-submit{
    background-color: #d3ab78;
    color: #ba1626;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: none;
}

.modal-body .btn-submit:hover{
    background-color: black;
    color: #d3ab78;
}

.modal-content{
    background-color: #ba1626;
    color: #d3ab78;
}
/*========================Media-Querys===============================*/

@media screen and (max-width: 575px) {
  .header-wrapper{
      height: 175px;
  } 
  .header-wrapper h1 {
    font-size: 70px;
    padding-top: 20px;
  }

  .footer-wrapper{
      height: 120px
  }
  
  .main{
      height: 600px;
  }
  
}

@media screen and (min-width: 576px) {
  .header-wrapper{
      height: 150px;
  } 
  .header-wrapper h1 {
    font-size: 70px;
    line-height: 100px;
  }

  .main{
      height: 700px;
  }
}

@media screen and (min-width: 768px) {
  .header-wrapper{
      height: 150px;
  }

  .header-wrapper h1 {
    font-size: 90px;
    line-height: 100px;
  }

  .main{
      height: 700px;
  }
}

@media screen and (min-width: 990px) {
  .header-wrapper{
      height: 150px;
  }

  .header-wrapper h1 {
    font-size: 110px;
  }

  .main{
      height: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .header-wrapper{
    height: 150px;
  }
  .header-wrapper h1 {
    font-size: 130px;
  }
}  