/*=====Fonts imported from google fonts=====*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lora:wght@400;500&display=swap');

*{
  margin:0;
  padding:0;
  border:0;
}


body{
    font-family: "Fjalla one", sans-serif;
}

/*----------Background Colors*/

.bg-header,
.bg-history-head,
.bg-history-main,
#bg-nav{
    background-color: #f0f0f0;
}

.bg-footer{
    background-color: #ba1626;
}

.bg-home{
    background-color: black;
}

.bg-band-members{
    background-color: #ba1626;
    border-bottom: 3px solid black;
}

/*----------Buttons*/

/*---tour page*/
.btn-sold-out{
    background-color: #333;
    color: white;
    border: 1px solid #d3ab78;
}

.btn-book-now{
    background-color: #ba1626;
    color: #d3ab78;
    border: 1px solid black;
}

.btn-book-now:hover{
    background-color: #d3ab78;
    color: #ba1626;
    border: 1px solid black;
}

/*---contact page*/

.bg-contact-main .btn-submit{
    background-color: #d3ab78;
    color: #ba1626;
    border: none;
}

.bg-contact-main .btn-submit:hover{
    background-color: #ba1626;
    color: #d3ab78;
}

/*----------Header-same on every page*/

.header-wrapper{
    padding-right: 0;
    padding-left:  0;
}

.header{
    text-align: center;
    border-top: 3px solid;
}

.header h1{
    font-size: 150px;
    padding-top: 25px;
    text-transform: uppercase;
    font-family: lora, sans-serif;
}

/*----------NavBar*/

.navbar{
    border-bottom: 3px solid;
}

.navbar-nav{
    text-align: center;
    margin: 0 auto;
}

button{
    margin: 0 auto;
}

.nav-item{
    font-size: 35px;
}

.navbar-light .navbar-toggler {
    border-color: #333333;
}

/*----------Footer-Same on every page*/

.footer-wrapper{
    height: 150px;
    border-top: 3px solid #d3ab78;
}

/*----------social-links*/

.social-networks{
    text-align: center;
    margin: auto;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 40px;
  padding: 3px;
  margin: 10px;
  color: black;
}

.social-networks i:hover{
    color: #d3ab78;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

/*----------Home Page*/
.home{
    color: #ba1626;
}

.video-heading h2,
.new-album h2{
    padding-top: 40px;
    font-size: 60px;
    text-transform: capitalize;
}

.video-heading h3{
    padding-top: 10px;
    font-size: 40px;
    text-transform: capitalize
}

.follow-link{
    padding: 0;
}

.new-album{
    background-image: linear-gradient(black, #ba1626);
    padding-bottom: 30px;
}

.new-album h3 a{
    color: #f0f0f0;
    text-decoration: none;
}

.new-album h3 a:hover{
    color: #d3ab78;
}

/*----------Band-page*/

.bg-band-members h2{
    padding-top: 40px;
    font-size: 60px;
    color: #f0f0f0;
}

.bg-band-members h3{
    font-size: 40px;
    padding-top: 10px;
}

.band-img-wrapper{
    width: 100%;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 20px;
}

.band-pic{
  height: 400px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.band-pic img{
    width: 100%;
    height: 100%;
}

hr{
    border-bottom: 2px solid;
    width: 120px;
    margin: 0 auto;
}

.history-header{
    text-transform: capitalize;
    padding-top: 30px;
}

.history-header h2{
    font-size: 40px;
}

.history-main{
    padding: 20px 30px 20px 20px;
}

.history-main p{
    font-family: lora, sans-serif;
}

.history-main h3{
    padding-top: 20px;
}

/*----------Music-page*/

.album-wrapper{
    background-image: linear-gradient(#f30218, #630d15);
    border-top: 2px solid;
}

.album-wrapper h4{
    padding-top: 40px;
    font-size: 60px;
    text-transform: capitalize;
}

.album{
    height: 300px;
}

 img, iframe{
    max-height: 100%;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.album-title, .album-year{
    color: #fafafa;
    text-transform: uppercase;
}

.album-title{
    padding-top: 75px;
    font-size: 35px;
}

/*----------Tour-page*/

.tour-heading h2{
    font-size: 60px;
    color: #ba1626;
    padding-top: 40px;
}

.tour-card-wrapper{
    background: url("../images/alk-live1.jpg") center center;
}

.ticket-card{
  border: 3px solid #ba1626;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  height: 300px;
  max-width: 375px;
  padding-top: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 2px;
}

.ticket-card h3{
    font-size: 45px;
    padding-top: 20px;
}

.city{
    font-size: 35px;
}

/*----------Contact-page*/

.bg-contact-main{
    padding-bottom: 40px;
    background-image: linear-gradient(#ba1626, black);
}

.bg-contact-main h2{
    font-size: 60px;
    padding-top: 40px;
}

.form-control{
    background-color: #f0f0f0;
}

/*----------Modal*/

.btn-wrapper{
    text-align: center;
}

.footer-wrapper .btn{
    background-color:black;
    color: #d3ab78;
    border: none;
    margin-top: 20px;
}

.footer-wrapper .btn:hover{
    background-color:#d3ab78;
    color: black;
}

.modal-body .btn-submit{
    background-color: #d3ab78;
    color: #ba1626;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: none;
}

.modal-body .btn-submit:hover{
    background-color: black;
    color: #d3ab78;
}

.modal-content{
    background-color: #ba1626;
    color: #d3ab78;
}

/*----------Media-Querys*/

@media screen and (max-width: 575px) {
  .header h1 {
    font-size: 60px;
    padding-top: 25px;
  }

  .album-title{
      padding-top: 35px;
  }
}

@media screen and (min-width: 576px) {
  .header h1 {
    font-size: 70px;
    line-height: 100px;
  }
}

@media screen and (min-width: 768px) {
  .header h1 {
    font-size: 90px;
    line-height: 100px;
  }
}

@media screen and (min-width: 990px) {
    .header h1 {
    font-size: 110px;
  }
}

@media screen and (min-width: 1200px) {
  
  .header h1 {
    font-size: 150px;
  }
}  