/*=====Fonts imported from google fonts=====*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600&display=swap');


/*=========================Header*/

.header-wrapper{
    background-color: #d3ab78;
    height: 150px;
    width: 100%;
    text-align: center;
}

.header-wrapper h1{
    font-family: fraunces;
    font-size: 150px;
    padding-top: 25px;
    text-transform: uppercase;
    color: black;
}
/*===========================NavBar*/

.navbar-nav{
    text-align: center;
    margin: 0 auto;
}

button{
    margin: 0 auto;
}

#bg-color{
    background-color: #d3ab78;
    border-bottom: 3px solid #ba1626;
}

.nav-item{
    font-family: fraunces;
    font-size: 25px;
}

.navbar-light .navbar-toggler {
    border-color: #333333;
}


.main{
    height:900px;
    background-color: black;
    position: relative;
}

.video-title h1{
    color: #ba1626;
    text-align: center;
    font-family: fraunces;
    padding-top: 20px;
    font-size: 80px;
}

iframe{
    border-radius: 10px;
}

.videoframe{
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 40px;
}

.videoframe iframe{
   
   top:0;
   left:0;
   width: 70%;
   height: 100%;
   margin: 0 auto;
   display: block;
  
   
}

/*========================Footer*/

.footer-wrapper{
    height:100px;
    background-color: #ba1626;
    border-top: 3px solid #d3ab78;
}

/*===================social-links*/

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 180%;
  padding: 10px;
  margin: 10px;
  color: black;
}

.social-networks i:hover{
    color: #d3ab78;
}


/*=====================modal*/

.footer-wrapper .btn{
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    background-color:black;
    color: #d3ab78;
    border: none;
}

.footer-wrapper .btn:hover{
    background-color:#d3ab78;
    color: black;
}

.modal-body .btn-submit{
    background-color: #d3ab78;
    color: #ba1626;
}

.btn-success.focus, .btn-success:focus {
    box-shadow: none;
}

.modal-body .btn-submit:hover{
    background-color: black;
    color: #d3ab78;
}

.modal-content{
    background-color: #ba1626;
    color: #d3ab78;
    font-family: fraunces;
}
/*========================Media-Querys*/

@media screen and (max-width: 575px) {
  .header-wrapper{
      height: 175px;
  } 
  .header-wrapper h1 {
    font-size: 70px;
    padding-top: 20px;
  }

  .footer-wrapper{
      height: 120px
  }
}

@media screen and (min-width: 576px) {
  .header-wrapper{
      height: 150px;
  } 
  .header-wrapper h1 {
    font-size: 70px;
    line-height: 100px;
  }
}

@media screen and (min-width: 768px) {
  .header-wrapper{
      height: 150px;
  }

  .header-wrapper h1 {
    font-size: 90px;
    line-height: 100px;
  }
}

@media screen and (min-width: 990px) {
  .header-wrapper{
      height: 150px;
  }

  .header-wrapper h1 {
    font-size: 110px;
  }
}

@media screen and (min-width: 1200px) {
  .header-wrapper{
    height: 150px;
  }
  .header-wrapper h1 {
    font-size: 130px;
  }
}  